.link {
  text-transform: uppercase;
  font-family: variables.$font-os-bold;

  i {
    position: relative;
    top: 0.08rem;
  }
}

// Theme
.default {
  color: functions.color(black, df);
}

// Size
.xs {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.sm {
  font-size: 1.4rem;
  line-height: 1.9rem;
}
