// Theme
.default {
  color: black;
  // font-family: $font-os-semibold;
  text-transform: uppercase;
}

// Size
.xs {
  font-size: 1.2rem;
  line-height: 3rem;
  padding: 0 2rem;
}
.sm {
  font-size: 1.4rem;
  line-height: 3rem;
  padding: 0 3rem;
}
.lg {
  font-size: 2rem;
  line-height: 5rem;
  padding: 0 4rem;
}
