// Theme
.default {
  background: functions.color(gray, c4);
  color: functions.color(white, df);
  font-family: variables.$font-os-bold;
  text-transform: uppercase;
  width: 100%;
}

// Size
.xs {
  font-size: 1.2rem;
  line-height: 3rem;
  padding: 0 2rem;
}

.sm {
  font-size: 1.4rem;
  line-height: 3.5rem;
  padding: 0 3rem;
}

.lg {
  font-size: 2rem;
  line-height: 5rem;
  padding: 0 4rem;
}
