/* stylelint-disable */
/*
// Font Icons
// ------------------------------------------------ */

//==== Base ====//
[class^="ic-"],
[class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icons
.ic-checkmark:before {
  content: "\e938";
}
.ic-error:before {
  content: "\e939";
}
.ic-pass-hide:before {
  content: "\e900";
}
.ic-plus:before {
  content: "\e901";
}
.ic-ssg-balance-points:before {
  content: "\e902";
}
.ic-butler-preferences:before {
  content: "\e903";
}
.ic-calendar:before {
  content: "\e904";
}
.ic-check-in-online:before {
  content: "\e905";
}
.ic-cleanliness-protocols:before {
  content: "\e906";
}
.ic-close:before {
  content: "\e907";
}
.ic-covid-country-rules:before {
  content: "\e908";
}
.ic-arrow-l:before {
  content: "\e909";
}
.ic-delete:before {
  content: "\e90a";
}
.ic-map-tag:before {
  content: "\e90b";
}
.ic-download-app:before {
  content: "\e90c";
}
.ic-arrow-d:before {
  content: "\e90d";
}
.ic-download:before {
  content: "\e90e";
}
.ic-download2:before {
  content: "\e90f";
}
.ic-facebook:before {
  content: "\e910";
}
.ic-calendar2:before {
  content: "\e911";
}
.ic-golfing:before {
  content: "\e912";
}
.ic-right:before {
  content: "\e913";
}
.ic-ssl:before {
  content: "\e914";
}
.ic-heart:before {
  content: "\e915";
}
.ic-images:before {
  content: "\e916";
}
.ic-error1:before {
  content: "\e917";
}
.ic-instagram:before {
  content: "\e918";
}
.ic-lock:before {
  content: "\e919";
}
.ic-logout:before {
  content: "\e91a";
}
.ic-dropdown:before {
  content: "\e91b";
}
.ic-menu-contact:before {
  content: "\e91c";
}
.ic-menu-extras:before {
  content: "\e91d";
}
.ic-menu-favorites:before {
  content: "\e91e";
}
.ic-menu-notifications:before {
  content: "\e91f";
}
.ic-menu-offers:before {
  content: "\e920";
}
.ic-menu-overview:before {
  content: "\e921";
}
.ic-menu-payments:before {
  content: "\e922";
}
.ic-check:before {
  content: "\e923";
}
.ic-menu-profile:before {
  content: "\e924";
}
.ic-menu-rewards:before {
  content: "\e925";
}
.ic-menu-trips:before {
  content: "\e926";
}
.ic-pass-show:before {
  content: "\e927";
}
.ic-passport-info:before {
  content: "\e928";
}
.ic-pay-due-balances:before {
  content: "\e929";
}
.ic-points:before {
  content: "\e92a";
}
.ic-profile:before {
  content: "\e92b";
}
.ic-recognition:before {
  content: "\e92c";
}
.ic-reload:before {
  content: "\e92d";
}
.ic-resort-map:before {
  content: "\e92e";
}
.ic-link-arrow:before {
  content: "\e92f";
}
.ic-scuba:before {
  content: "\e930";
}
.ic-info:before {
  content: "\e931";
}
.ic-special-request:before {
  content: "\e932";
}
.ic-things-to-know:before {
  content: "\e933";
}
.ic-remove:before {
  content: "\e934";
}
.ic-twitter:before {
  content: "\e935";
}
.ic-vacation-extras:before {
  content: "\e936";
}
.ic-weedings:before {
  content: "\e937";
}
/* stylelint-enable */
