.button {
  font-family: variables.$font-os-bold;
  text-transform: uppercase;
  width: 100%;
}

// Theme
.default {
  background: functions.color(black, df);
  color: functions.color(white, df);
}

.outline {
  background: transparent;
  border: 0.2rem solid;
}

// Disabled
.disabled {
  opacity: 0.38;
}

// Size
.xs {
  font-size: 1.2rem;
  line-height: 3rem;
  padding: 0 2rem;
}

.sm {
  font-size: 1.4rem;
  line-height: 3.5rem;
  padding: 0 3rem;
}

.lg {
  font-size: 2rem;
  line-height: 5rem;
  padding: 0 4rem;
}
