.button {
  display: block;
  font-family: variables.$font-os-bold;
  text-transform: uppercase;
  width: 100%;

  i {
    margin-left: 0.5rem;
    position: relative;
    top: 0.08rem;
  }

  span {
    display: block;
  }

  // State
  &[disabled] {
    opacity: 0.5;
  }
}

// Appearance
.solid {
  background: functions.color(black, df);
  border: none;
  color: functions.color(white, df);
}

.outline span {
  border: 0.2rem solid;
}

// Size
.xs {
  font-size: 1.2rem;
  line-height: 3rem;
}

.sm {
  font-size: 1.4rem;
  line-height: 3.5rem;

  &.outline span {
    border-width: 0.25rem;
  }
}

.lg {
  font-size: 2rem;
  line-height: 5rem;

  &.outline span {
    border-width: 0.3rem;
  }
}
