/*
// Font Icons
// ------------------------------------------------ */
// @use './../abstracts/variables';

// :global {
  [class^='ic-'],
  [class*=' ic-'] {
    font-family: $font-icons !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

// }
