// Theme
button.default {
  background: color(black, df);
  color: color(white, df);
  font-family: $font-os-bold;
  text-transform: uppercase;
  @include fadeIn();

  // Size
  .xs {
    font-size: 1.2rem;
    line-height: 3rem;
    padding: 0 2rem;
  }
  .sm {
    font-size: 1.4rem;
    line-height: 3rem;
    padding: 0 3rem;
  }
  .lg {
    font-size: 2rem;
    line-height: 5rem;
    padding: 0 4rem;
  }
}
