// Theme
.default {
  color: functions.color(black, df);
  font-family: variables.$font-os-bold;
  text-transform: uppercase;
}

// Size
.xs {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.sm {
  font-size: 1.4rem;
  line-height: 1.9rem;
}
